.screen {
  display: grid;
  grid-template-columns: 1;
  min-height: 100vh;
  max-width: 100vw;
  padding: 40px;
  row-gap: 40px;
  padding-right: 20px;
}
.dropdown {
  justify-self: end;
}
.tabs {
  // height: 10%;
}

.tablist {
  margin: 0;
  
}
.tabPanels {
  background-color: #fff;
}
.city {
  color: #fff;
  font-size: 2rem;
}

.country {
  color: #fff;
  font-size: 1.2rem;
}
.addButton {
  justify-self: end;
  align-self: flex-end;
  width: 200px;
  margin-right: 50px;
  padding: 0.4rem;
  border: none;
  background-color: rgb(61, 61, 253);
  color: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
  &:hover {
    background-color: darken(rgb(61, 61, 253), 30%);
  }
}
