.screen {
  display: grid;
  grid-template-columns: 1;
  min-height: 100vh;
  max-width: 100vw;
  padding: 40px;
  row-gap: 40px;
  padding-right: 20px;
}
.dropdown {
  justify-self: end;
}

.tablist {
  margin: 0;
}
// .tabPanels {
//   width: fit-content;
//   min-width: 80vw;
//   min-height: 50vh;
//   background-color: #fff;
// }
.city {
  color: #fff;
  font-size: 4rem;
  border-radius: 4px 4px 0 0;
  width: max-content;
  padding-right: 2rem;
}

.country {
  color: #fff;
  font-size: 2rem;
  border-radius: 0 0 4px 4px;
  width: max-content;
  padding-right: 2rem;
}
.locationBg {
  background-color: rgba(#000, 0.2);
  width: fit-content;
  border-radius: 4px;
  padding: 4px;
  padding-left: 10px;
}
.addButton {
  justify-self: end;
  align-self: flex-end;
  width: 200px;
  padding: 2rem;
  border: none;
  background-color: rgb(226, 226, 253);
  font-size: 1.6rem;
  border-radius: 4px;
  &:hover {
    background-color: darken(rgb(226, 226, 253), 2%);
  }
}
.containerPopup {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
  /* Z index is very big but the portal is outside this  */
  z-index: 1000;
}
.tabStyle {
  border-radius: 0;
  background: #fff;
  border-bottom: 8px solid orange;
  transform: translateY(15px);
  font-size: 2rem;
  min-width: 150px;
  text-align: center;
}
.tabStyleActive {
  border-radius: 0;
  background: #fff;
  border-bottom: none;
  border-top: 8px solid orange;
  width: 300px;
  height: 80px;
  transform: translateY(0);
  font-size: 3rem;
}
