.container {
  padding: 2rem;
  height: 100%;
  min-height: 400px;
  padding: 40px 0;
  background-color: rgb(25, 24, 26);
}
.forecast {
  display: grid;
  grid-template-columns: 270px;
  grid-template-rows: 40px 40px 40px 1fr 80px 40px;
  align-items: center;
  justify-items: center;
  height: 100%;
  background-color: rgb(25, 24, 26);
  color: #fff;
  padding: 0 40px;
  border-right: 1px dashed #fff;
  text-align: center;
  @media only screen and (max-width: 1040px) {
    grid-template-columns: none;
    max-width: 300px;
    width: fit-content;
  }
  @media only screen and (max-width: 820px) {
    border-right: none;
  }
}
