.container {
  display: flex;
  height: 100%;
  width: 100%;
}
.innerContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  height: 100%;
  max-width: 80vw;
}
.legend {
  width: min-content;
}
