.container {
  position: relative;
  display: flex;
  height: 100%;
  max-width: 65vw;
}
.innerContainer {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: flex;
  height: 100%;
  width: 100%;
}
