.container {
  position: relative;
  display: flex;
  height: 100%;
}
.innerContainer {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: flex;
  height: 100%;
  width: 100%;
}

.buttonLeft {
  position: absolute;
  height: 50px;
  width: 50px;
  font-size: 10rem;
  border: none;
  background: transparent;
  color: orange;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.buttonRight {
  position: absolute;
  height: 50px;
  width: 50px;
  font-size: 10rem;
  border: none;
  background: transparent;
  color: orange;
  top: 50%;
  right: 55px;
  transform: translate(50%, -50%);
}
